@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic-ext");

$MainColor: #0272FC;
$AccentColor: #F84339;
$SuccessColor: #1BD964;
$WarnColor: #FF772B;
$OtherColor: #8649BA;
$TextColor_Main: #000;
$TextColor_Accent: #FFFFFF;
$TextColor_Main_Hover: #014c8c;

* {
  font-family: 'Roboto', sans-serif;
}