@import url("https://fonts.googleapis.com/css?family=Roboto:400,900&subset=cyrillic-ext");
@import url(../node_modules/@angular/material/core/theming/prebuilt/indigo-pink.css);
@import url(../node_modules/@swimlane/ngx-datatable/release/index.css);
@import url(../node_modules/@swimlane/ngx-datatable/release/themes/material.css);
@import url(../node_modules/@swimlane/ngx-datatable/release/assets/icons.css);
* {
  font-family: 'Roboto', sans-serif; }

.fc-card {
  background-color: #FFFFFF;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  z-index: 999;
  min-height: 180px;
  min-width: 420px; }

.fc-card--border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.fc-card__title {
  width: 100%;
  min-height: 50px; }

.fc-card__title-text {
  padding: 10px;
  font-size: 27px;
  color: #000;
  text-transform: capitalize; }

.fc-card__content {
  padding: 10px 10px 0 10px;
  min-height: 50px; }

.fc-card__content--width100, .width100 {
  width: 100%; }

.fc-card__content:focus {
  outline: none; }

.fc-card .fc-card__content .fc-card__content--button {
  margin: 2px 0 0 0;
  float: right;
  color: #3F51B5;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  background: none;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 16px;
  height: 36px;
  min-height: 46px; }

.fc-card .fc-card__content .fc-card__content--button:hover {
  background-color: rgba(158, 158, 158, 0.2); }

.fc-card .fc-card--nopad {
  padding-top: 0; }

#loading_screen {
  text-align: center;
  vertical-align: middle;
  height: 100vh;
  overflow: hidden;
  background-color: #3F51B5;
  position: fixed;
  width: 100vw;
  left: 0;
  z-index: 999; }
  #loading_screen i {
    margin-top: 25%;
    color: #FFFFFF; }

#add_reason--category div.mat-select-trigger {
  font-size: 20px;
  height: 35px; }

#participants_add__select--team .mat-select-placeholder, #employees_add__select--team .mat-select-placeholder {
  text-transform: capitalize; }

.mdl-card {
  width: 100%;
  min-height: 125px; }

.mdl-card__title-text {
  font-size: 27px; }

.mdl-card__title .card_field {
  font-size: 24px; }
  .mdl-card__title .card_field i {
    float: left;
    margin-top: 3px; }
  .mdl-card__title .card_field .card_field_text {
    float: right;
    margin: 0 0 0 10px;
    text-transform: capitalize; }

#additional_settings .mat-slide-toggle-container {
  margin-top: 1px; }
#additional_settings .mat-slide-toggle-content {
  font-size: 24px; }
#additional_settings md-slide-toggle {
  margin: 4px 0; }

#orgset_categories md-slide-toggle, #orgset_teams md-slide-toggle, #orgset_participants md-slide-toggle, #orgset_employees md-slide-toggle, #orgset_reasons md-slide-toggle, #marks md-slide-toggle {
  margin: 0; }
#orgset_categories .datatable-body-cell-label, #orgset_teams .datatable-body-cell-label, #orgset_participants .datatable-body-cell-label, #orgset_employees .datatable-body-cell-label, #orgset_reasons .datatable-body-cell-label, #marks .datatable-body-cell-label {
  text-transform: capitalize; }
#orgset_categories input[type=text], #orgset_teams input[type=text], #orgset_participants input[type=text], #orgset_employees input[type=text], #orgset_reasons input[type=text], #marks input[type=text] {
  font-size: 18px;
  display: block;
  background: transparent;
  width: 100%;
  border: none;
  border-bottom: 1px solid #5264AE;
  outline: none; }

#add_category .mat-slide-toggle-container {
  margin-top: 1px; }
#add_category .mat-slide-toggle-content {
  font-size: 20px; }
#add_category .mat-slide-toggle {
  margin: 10px 0; }

.mdl-layout-title, .mdl-layout-title, .mdl-navigation__link, .mdl-card__title-text {
  text-transform: capitalize; }

.card_field_text {
  margin-left: 10px; }

.mdl-tooltip {
  text-transform: none; }

body .notie-alert {
  z-index: 1000; }
body .tabletolist {
  width: 100%; }
body table tr td.mdl-data-table__cell--non-numeric {
  text-transform: capitalize; }
body .mdl-switch {
  width: 0; }
body .on_edit {
  padding: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  body .on_edit .on_edit-click {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2; }
  body .on_edit .on_edit-card {
    z-index: 999; }
    body .on_edit .on_edit-card .card_field {
      width: 100%; }

header [role="progressbar"][aria-busy="true"] {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 5px;
  width: 100%;
  background-color: #159756;
  animation: preloader-background linear 3.5s infinite; }
  header [role="progressbar"][aria-busy="true"]::before, header [role="progressbar"][aria-busy="true"]::after {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1001;
    width: 0;
    height: 5px;
    background: #afa;
    animation: preloader-front linear 3.5s infinite;
    content: ''; }
  header [role="progressbar"][aria-busy="true"]::before {
    right: 50%; }
  header [role="progressbar"][aria-busy="true"]::after {
    left: 50%; }

@keyframes preloader-background {
  0%, 24.9% {
    background-color: #159756; }
  25%, 49.9% {
    background-color: #da4733; }
  50%, 74.9% {
    background-color: #3b78e7; }
  75%, 100% {
    background-color: #fdba2c; } }
@keyframes preloader-front {
  0% {
    width: 0;
    background-color: #da4733; }
  24.9% {
    width: 50%;
    background-color: #da4733; }
  25% {
    width: 0;
    background-color: #3b78e7; }
  49.9% {
    width: 50%;
    background-color: #3b78e7; }
  50% {
    width: 0;
    background-color: #fdba2c; }
  74.9% {
    width: 50%;
    background-color: #fdba2c; }
  75% {
    width: 0%;
    background-color: #159756; }
  100% {
    width: 50%;
    background-color: #159756; } }

/*# sourceMappingURL=index.css.map */
