@import "main";

body {

  .container{
    z-index: 10;
    height: 100%;
    overflow: hidden;

    .navbar-brand{
      color: $TextColor_Accent;
      text-shadow: #000000 0 0 2px;
      font-size: 48px;
    }

    .navbar-brand:hover{
      color: $TextColor_Accent;
    }

    .navbar-text{
      text-align: right;
      margin-top: 11px;
    }

    #content__top-text{
      font-size: 36px;
      text-align: center;
    }

    #content__top-down{
      text-align: center;
      font-size: 17px;
      animation: bounce 4s infinite;
    }

    #content__top-down-arrows:hover{
      cursor: pointer;
    }

    #content__top{
      color: $TextColor_Accent;
      text-shadow: #000000 0 0 2px;
      position: absolute;
      width: 100%;
      bottom: 80px;
    }

  }

  .content__top{
    top: 0;
    position: absolute;
    z-index: -1;
    background: url("../media/images/ForCamp_MainPage-Background.png") center;
    height: 100vh;
    width: 100vw;
    max-height: 1200px;
  }

  #content__center{
    margin-top: 100vh;
    z-index: 30;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: $AccentColor;
  }

}

@keyframes bounce {
  from{
    transform: translateY(0);
  }
  50%{
    transform: translateY(15px);
  }
  to{
    transform: translateY(0);
  }
}

@keyframes underline_sign_in {
  from{
    width: 0;
  }
  to{
    width: 83px;
  }
}

@keyframes underline_portal {
  from{
    width: 0;
  }
  to{
    width: 83px;
  }
}