<div class="on_edit mdl-grid" *ngIf="orgSetService.AddParticipant_Active">
    <div class="on_edit-click" (click)="orgSetService.AddParticipant_Active = false"></div>
    <div class="mdl-grid mdl-cell mdl-cell-middle mdl-cell--12-col">
        <div class="mdl-cell mdl-cell--middle mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop mdl-cell--4-offset-desktop">
            <div class="mdl-card mdl-shadow--6dp on_edit-card" id="add_category">
                <div class="mdl-card__title mdl-card--border">
                    <div class="mdl-card__title-text" style="text-transform: none">Добавление участника</div>
                </div>
                <div class="mdl-card__title nopad">
                    <div class="card_field">
                        <md-input-container class="width100">
                            <input mdInput type="text" name="participant_surname" [(ngModel)]="participant.surname"
                                   placeholder="Фамилия участника"/>
                        </md-input-container>
                    </div>
                </div>
                <div class="mdl-card__title nopad">
                    <div class="card_field">
                        <md-input-container class="width100">
                            <input mdInput type="text" name="participant_name" [(ngModel)]="participant.name"
                                   placeholder="Имя участника"/>
                        </md-input-container>
                    </div>
                </div>
                <div class="mdl-card__title nopad">
                    <div class="card_field">
                        <md-input-container class="width100">
                            <input mdInput type="text" name="participant_middlename"
                                   [(ngModel)]="participant.middlename" placeholder="Отчество участника"/>
                        </md-input-container>
                    </div>
                </div>
                <div class="mdl-card__title">
                    <div class="card_field">
                        <md-select placeholder="Пол" [(ngModel)]="participant.sex">
                            <md-option [value]="0">Мужской</md-option>
                            <md-option [value]="1">Женский</md-option>
                        </md-select>
                    </div>
                    <div class="card_field" id="participants_add__select--team">
                        <md-select [placeholder]="orgSetService.OrgSettings.team" [(ngModel)]="participant.team">
                            <md-option [value]="0">отсутвует</md-option>
                            <md-option *ngFor="let team of orgSetService.Teams" [value]="team.id">{{ team.name }}
                            </md-option>
                        </md-select>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-button--colored mdl-button--primary mdl-js-button mdl-js-ripple-effect on_edit-card-confirm"
                            (click)="AddParticipantSubmit()">
                        сохранить
                    </button>
                    <button class="mdl-button mdl-button--colored mdl-button--accent mdl-js-button mdl-js-ripple-effect on_edit-card-cancel"
                            (click)="orgSetService.AddParticipant_Active = false; participant = {
                        name: '', surname: '', middlename: '', sex: 0, team: 0, login: '', marks: []}">
                        отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>