<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{orgSetService.OrgSettings.organization}}</span></div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
            <a href="#orgset_main" class="mdl-layout__tab is-active">Настройки</a>
            <a href="#orgset_categories" class="mdl-layout__tab">Категории</a>
            <a href="#orgset_teams" class="mdl-layout__tab">Команды</a>
            <a href="#orgset_participants" class="mdl-layout__tab">Участники</a>
            <a href="#orgset_employees" class="mdl-layout__tab">Сотрудники</a>
            <a href="#orgset_reasons" class="mdl-layout__tab">Причины</a>
            <a href="#orgset_achievements" class="mdl-layout__tab">Достижения</a>
            <a href="#orgset_actions" class="mdl-layout__tab">События</a>
            <a href="#orgset_help" class="mdl-layout__tab">Помощь</a>
        </div>
        <div [attr.aria-busy]="orgSetService.Preloader" role="progressbar"></div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Управление</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/profile">профиль</a>
            <a *ngIf="userService.SelfData.Access > 0" class="mdl-navigation__link" routerLink="/marks">баллы</a>
            <a class="mdl-navigation__link" routerlink="/general">общая статистика</a>
            <a class="mdl-navigation__link" routerLink="/team">{{orgSetService.OrgSettings.team}}</a>
            <a class="mdl-navigation__link" routerLink="/achievements">достижения</a>
            <a class="mdl-navigation__link" href="exit">выйти</a>
        </nav>
    </div>
    <add_reason></add_reason>
    <add_employee></add_employee>
    <add_participant></add_participant>
    <add_team></add_team>
    <add_category></add_category>
    <participant_value_edit></participant_value_edit>
    <period_value_edit></period_value_edit>
    <team_value_edit></team_value_edit>
    <organization_value_edit></organization_value_edit>
    <main class="mdl-layout__content">
        <!-- Main settings -->
        <section class="mdl-layout__tab-panel is-active" id="orgset_main">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop mdl-cell--2-offset-desktop">
                    <div class="mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">Название участника</div>
                        </div>
                        <div class="mdl-card__title">
                            <div class="card_field">
                                <i class="fa fa-user-circle-o"></i>
                                <div class="card_field_text" id="participant_field">
                                    {{orgSetService.OrgSettings.participant}}
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.ParticipantValueEdit_Active = true">
                                <i class="material-icons">create</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop">
                    <div class="mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">Название команд</div>
                        </div>
                        <div class="mdl-card__title">
                            <div class="card_field">
                                <i class="fa fa-users"></i>
                                <div class="card_field_text" id="team_field">
                                    {{orgSetService.OrgSettings.team}}
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.TeamValueEdit_Active = true">
                                <i class="material-icons">create</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <!-- Next level -->
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop mdl-cell--2-offset-desktop">
                    <div class="mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">Организация</div>
                        </div>
                        <div class="mdl-card__title">
                            <div class="card_field">
                                <i class="fa fa-university"></i>
                                <div class="card_field_text" id="organization_field">
                                    {{orgSetService.OrgSettings.organization}}
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.OrganizationValueEdit_Active = true">
                                <i class="material-icons">create</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop">
                    <div class="mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">Название периода</div>
                        </div>
                        <div class="mdl-card__title">
                            <div class="card_field">
                                <i class="fa fa-calendar-o"></i>
                                <div class="card_field_text" id="period_field">
                                    {{orgSetService.OrgSettings.period}}
                                </div>
                            </div>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.PeriodValueEdit_Active = true">
                                <i class="material-icons">create</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
                <!-- Next level -->
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop mdl-cell--2-offset-desktop">
                    <div class="mdl-card mdl-shadow--6dp" id="additional_settings">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">Доп. настройки</div>
                        </div>
                        <!-- Могут ли сотрудники выставлять баллы своей команде -->
                        <div class="mdl-card__title mdl-card--border">
                            <md-slide-toggle ngDefaultControl (change)="ChangeSelfMarksValue($event)"
                                             [(ngModel)]="orgSetService.OrgSettings.self_marks"
                                             color="primary">Оценки своей команде
                            </md-slide-toggle>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop">
                    <div class="mdl-card mdl-shadow--6dp">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">Функции</div>
                        </div>
                        <div class="mdl-card__title">
                            <div class="card_field">
                                <i class="fa fa-clock-o"></i>
                                <div class="card_field_text">
                                    В разработке
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            </div>
        </section>
        <!-- Categories -->
        <section class="mdl-layout__tab-panel" id="orgset_categories">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-card mdl-shadow--6dp width100">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">
                                Категории
                            </div>
                        </div>
                        <div class="mdl-card__title card-nopad">
                            <ngx-datatable
                                    class="material width100"
                                    [rows]="orgSetService.Categories"
                                    [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [scrollbarH]="true"
                                    [limit]="10"
                                    [messages]="{emptyMessage: 'Категорий нет', totalMessage: 'всего'}">
                                <ngx-datatable-column name="Название">
                                    <ng-template ngx-datatable-header-template>
                                        Название
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="CategoryEdit[row.$$index + '-name'] = true"
                                              *ngIf="!CategoryEdit[row.$$index + '-name']">{{row.name}}</span>
                                        <input autofocus *ngIf="CategoryEdit[row.$$index + '-name']"
                                               (blur)="orgSetService.EditCategory(row); CategoryEdit[row.$$index + '-name'] = false"
                                               type="text" [(ngModel)]="row.name"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Отрицательные оценки">
                                    <ng-template ngx-datatable-header-template>
                                        Отрицательные оценки
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <md-slide-toggle ngDefaultControl (click)="orgSetService.EditCategory(row)"
                                                         [(ngModel)]="row.negative_marks"
                                                         color="primary">
                                        </md-slide-toggle>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template></ng-template>
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent'
                                                (click)="orgSetService.DeleteCategory(row.id)">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.AddCategory_Active = true">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Teams -->
        <section class="mdl-layout__tab-panel" id="orgset_teams">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-card mdl-shadow--6dp width100">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">
                                Команды
                            </div>
                        </div>
                        <div class="mdl-card__title card-nopad">
                            <ngx-datatable
                                    class="material width100"
                                    [rows]="orgSetService.Teams"
                                    [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [scrollbarH]="true"
                                    [limit]="10"
                                    [messages]="{emptyMessage: 'Команд нет', totalMessage: 'всего'}">
                                <ngx-datatable-column name="Название">
                                    <ng-template ngx-datatable-header-template>
                                        Название
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="TeamEdit[row.$$index + '-name'] = true"
                                              *ngIf="!TeamEdit[row.$$index + '-name']">{{row.name}}</span>
                                        <input autofocus *ngIf="TeamEdit[row.$$index + '-name']"
                                               (blur)="orgSetService.EditTeam(row.id, row.name); TeamEdit[row.$$index + '-name'] = false"
                                               type="text" [(ngModel)]="row.name"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Руководитель">
                                    <ng-template ngx-datatable-header-template>
                                        Руководитель
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a [routerLink]="['/profile', row.leader.login]"
                                           *ngIf="row.leader.name.length > 0">{{row.leader.surname}} {{row.leader.name}}
                                            {{row.leader.middlename}}</a>
                                        <span *ngIf="row.leader.name.length == 0">Не указан</span>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Количество участников">
                                    <ng-template ngx-datatable-header-template>
                                        Кол-во участников
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.participants.length}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template></ng-template>
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent'
                                                (click)="orgSetService.DeleteTeam(row.id)">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.AddTeam_Active = true">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Participants -->
        <section class="mdl-layout__tab-panel" id="orgset_participants">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-card mdl-shadow--6dp width100">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">
                                Участники
                            </div>
                            <div class="mdl-card__title-filter">
                                <md-select [(ngModel)]="ParticipantsTable_FilterTeam"
                                           style="position: absolute; margin-top: -2px">
                                    <md-option [value]="-1">все команды</md-option>
                                    <md-option [value]="0">отсутствует</md-option>
                                    <md-option *ngFor="let team of orgSetService.Teams" [value]="team.id">
                                        {{team.name}}
                                    </md-option>
                                </md-select>
                            </div>
                        </div>
                        <div class="mdl-card__title card-nopad">
                            <ngx-datatable
                                    class="material width100"
                                    [rows]="orgSetService.GetParticipantsByTeamID(ParticipantsTable_FilterTeam)"
                                    [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [scrollbarH]="true"
                                    [limit]="10"
                                    [messages]="{emptyMessage: 'Участников нет', totalMessage: 'всего'}">
                                <ngx-datatable-column name="Фамилия">
                                    <ng-template ngx-datatable-header-template>
                                        Фамилия
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ParticipantEdit[row.$$index + '-surname'] = true"
                                              *ngIf="!ParticipantEdit[row.$$index + '-surname']">{{row.surname}}</span>
                                        <input autofocus *ngIf="ParticipantEdit[row.$$index + '-surname']"
                                               (blur)="orgSetService.EditParticipant(row); ParticipantEdit[row.$$index + '-surname'] = false"
                                               type="text" [(ngModel)]="row.surname"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Имя">
                                    <ng-template ngx-datatable-header-template>
                                        Имя
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ParticipantEdit[row.$$index + '-name'] = true"
                                              *ngIf="!ParticipantEdit[row.$$index + '-name']">{{row.name}}</span>
                                        <input autofocus *ngIf="ParticipantEdit[row.$$index + '-name']"
                                               (blur)="orgSetService.EditParticipant(row); ParticipantEdit[row.$$index + '-name'] = false"
                                               type="text" [(ngModel)]="row.name"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Отчество">
                                    <ng-template ngx-datatable-header-template>
                                        Отчество
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ParticipantEdit[row.$$index + '-middlename'] = true"
                                              *ngIf="!ParticipantEdit[row.$$index + '-middlename']">{{row.middlename}}</span>
                                        <input autofocus *ngIf="ParticipantEdit[row.$$index + '-middlename']"
                                               (blur)="orgSetService.EditParticipant(row); ParticipantEdit[row.$$index + '-middlename'] = false"
                                               type="text" [(ngModel)]="row.middlename"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [name]="orgSetService.OrgSettings.team">
                                    <ng-template ngx-datatable-header-template style="text-transform: capitalize">
                                        <span style="text-transform: capitalize">{{orgSetService.OrgSettings.team}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ParticipantEdit[row.$$index + '-team'] = true"
                                              *ngIf="!ParticipantEdit[row.$$index + '-team']">{{orgSetService.IdToTeamName(row.team)}}</span>
                                        <md-select *ngIf="ParticipantEdit[row.$$index + '-team']"
                                                   (change)="orgSetService.EditParticipant(row); ParticipantEdit[row.$$index + '-team'] = false"
                                                   [(ngModel)]="row.team"
                                                   style="position: absolute; margin-top: -2px">
                                            <md-option [value]="0">отсутствует</md-option>
                                            <md-option *ngFor="let team of orgSetService.Teams" [value]="team.id">
                                                {{team.name}}
                                            </md-option>
                                        </md-select>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Пол">
                                    <ng-template ngx-datatable-header-template>
                                        Пол
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ParticipantEdit[row.$$index + '-sex'] = true"
                                              *ngIf="!ParticipantEdit[row.$$index + '-sex']">{{orgSetService.IntToSex(row.sex)}}</span>
                                        <md-select *ngIf="ParticipantEdit[row.$$index + '-sex']"
                                                   (change)="orgSetService.EditParticipant(row); ParticipantEdit[row.$$index + '-sex'] = false"
                                                   [(ngModel)]="row.sex"
                                                   style="position: absolute; margin-top: -2px">
                                            <md-option [value]="0">Мужской</md-option>
                                            <md-option [value]="1">Женский</md-option>
                                        </md-select>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template></ng-template>
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--primary'
                                                [routerLink]="['/profile', row.login]">
                                            <i class="material-icons">person</i>
                                        </button>
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--primary'
                                                (click)="orgSetService.ResetParticipantPassword(row.login)">
                                            <i class="material-icons">refresh</i>
                                        </button>
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent'
                                                (click)="orgSetService.DeleteParticipant(row.login)">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.GetParticipantsExcel()">
                                <i class="material-icons">cloud_download</i>
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.AddParticipant_Active = true">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Employees -->
        <section class="mdl-layout__tab-panel" id="orgset_employees">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-card mdl-shadow--6dp width100">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">
                                Сотрудники
                            </div>
                        </div>
                        <div class="mdl-card__title card-nopad">
                            <ngx-datatable
                                    class="material width100"
                                    [rows]="orgSetService.Employees"
                                    [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [scrollbarH]="true"
                                    [limit]="10"
                                    [messages]="{emptyMessage: 'Сотрудников нет', totalMessage: 'всего'}">
                                <ngx-datatable-column name="Фамилия">
                                    <ng-template ngx-datatable-header-template>
                                        Фамилия
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="EmployeeEdit[row.$$index + '-surname'] = true"
                                              *ngIf="!EmployeeEdit[row.$$index + '-surname']">{{row.surname}}</span>
                                        <input autofocus *ngIf="EmployeeEdit[row.$$index + '-surname']"
                                               (blur)="orgSetService.EditEmployee(row); EmployeeEdit[row.$$index + '-surname'] = false"
                                               type="text" [(ngModel)]="row.surname"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Имя">
                                    <ng-template ngx-datatable-header-template>
                                        Имя
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="EmployeeEdit[row.$$index + '-name'] = true"
                                              *ngIf="!EmployeeEdit[row.$$index + '-name']">{{row.name}}</span>
                                        <input autofocus *ngIf="EmployeeEdit[row.$$index + '-name']"
                                               (blur)="orgSetService.EditEmployee(row); EmployeeEdit[row.$$index + '-name'] = false"
                                               type="text" [(ngModel)]="row.name"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Отчество">
                                    <ng-template ngx-datatable-header-template>
                                        Отчество
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="EmployeeEdit[row.$$index + '-middlename'] = true"
                                              *ngIf="!EmployeeEdit[row.$$index + '-middlename']">{{row.middlename}}</span>
                                        <input autofocus *ngIf="EmployeeEdit[row.$$index + '-middlename']"
                                               (blur)="orgSetService.EditEmployee(row); EmployeeEdit[row.$$index + '-middlename'] = false"
                                               type="text" [(ngModel)]="row.middlename"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Должность">
                                    <ng-template ngx-datatable-header-template>
                                        Должность
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="EmployeeEdit[row.$$index + '-post'] = true"
                                              *ngIf="!EmployeeEdit[row.$$index + '-post']">{{row.post}}</span>
                                        <input autofocus *ngIf="EmployeeEdit[row.$$index + '-post']"
                                               (blur)="orgSetService.EditEmployee(row); EmployeeEdit[row.$$index + '-post'] = false"
                                               type="text" [(ngModel)]="row.post"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [name]="orgSetService.OrgSettings.team">
                                    <ng-template ngx-datatable-header-template style="text-transform: capitalize">
                                        <span style="text-transform: capitalize">{{orgSetService.OrgSettings.team}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="EmployeeEdit[row.$$index + '-team'] = true"
                                              *ngIf="!EmployeeEdit[row.$$index + '-team']">{{orgSetService.IdToTeamName(row.team)}}</span>
                                        <md-select *ngIf="EmployeeEdit[row.$$index + '-team']"
                                                   (change)="orgSetService.EditEmployee(row); EmployeeEdit[row.$$index + '-team'] = false"
                                                   [(ngModel)]="row.team"
                                                   style="position: absolute; margin-top: -2px">
                                            <md-option [value]="0">отсутствует</md-option>
                                            <md-option *ngFor="let team of orgSetService.Teams" [value]="team.id">
                                                {{team.name}}
                                            </md-option>
                                        </md-select>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Пол">
                                    <ng-template ngx-datatable-header-template>
                                        Пол
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="EmployeeEdit[row.$$index + '-sex'] = true"
                                              *ngIf="!EmployeeEdit[row.$$index + '-sex']">{{orgSetService.IntToSex(row.sex)}}</span>
                                        <md-select *ngIf="EmployeeEdit[row.$$index + '-sex']"
                                                   (change)="orgSetService.EditEmployee(row); EmployeeEdit[row.$$index + '-sex'] = false"
                                                   [(ngModel)]="row.sex"
                                                   style="position: absolute; margin-top: -2px">
                                            <md-option [value]="0">Мужской</md-option>
                                            <md-option [value]="1">Женский</md-option>
                                        </md-select>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column *ngFor="let category of orgSetService.Categories"
                                                      [name]="category.name">
                                    <ng-template ngx-datatable-header-template>
                                        <span style="text-transform: capitalize">{{category.name}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <div *ngFor="let permission of orgSetService.GetPermissionByCategoryID(category.id, row.permissions)">
                                            <md-slide-toggle ngDefaultControl
                                                             (click)="orgSetService.EditEmployeePermission(row.login, !permission.value, category.id)"
                                                             [(ngModel)]="permission.value"
                                                             color="primary">
                                            </md-slide-toggle>
                                        </div>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template></ng-template>
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--primary'
                                                [routerLink]="['/profile', row.login]">
                                            <i class="material-icons">person</i>
                                        </button>
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--primary'
                                                (click)="orgSetService.ResetEmployeePassword(row.login)">
                                            <i class="material-icons">refresh</i>
                                        </button>
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent'
                                                (click)="orgSetService.DeleteEmployee(row.login)">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.GetEmployeesExcel()">
                                <i class="material-icons">cloud_download</i>
                            </button>
                            <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.AddEmployee_Active = true">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Reasons -->
        <section class="mdl-layout__tab-panel" id="orgset_reasons">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-card mdl-shadow--6dp width100">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">
                                Причины изменения баллов
                            </div>
                        </div>
                        <div class="mdl-card__title card-nopad">
                            <ngx-datatable
                                    class="material width100"
                                    [rows]="orgSetService.Reasons"
                                    [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [scrollbarH]="true"
                                    [limit]="10"
                                    [messages]="{emptyMessage: 'Причин нет', totalMessage: 'всего'}">
                                <ngx-datatable-column name="Категория">
                                    <ng-template ngx-datatable-header-template>
                                        Категория
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ReasonEdit[row.$$index + '-category'] = true"
                                              *ngIf="!ReasonEdit[row.$$index + '-category']">
                                            <span *ngFor="let category of orgSetService.Categories">
                                                <span *ngIf="category.id == row.cat_id">{{category.name}}</span>
                                            </span>
                                        </span>
                                        <md-select *ngIf="ReasonEdit[row.$$index + '-category']"
                                                   (change)="orgSetService.EditReason(row); ReasonEdit[row.$$index + '-category'] = false"
                                                   [(ngModel)]="row.cat_id"
                                                   style="position: absolute; margin-top: -2px">
                                            <md-option *ngFor="let category of orgSetService.Categories"
                                                       [value]="category.id">
                                                {{category.name}}
                                            </md-option>
                                        </md-select>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Текст">
                                    <ng-template ngx-datatable-header-template>
                                        Текст
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ReasonEdit[row.$$index + '-text'] = true"
                                              *ngIf="!ReasonEdit[row.$$index + '-text']">{{row.text}}</span>
                                        <input autofocus *ngIf="ReasonEdit[row.$$index + '-text']"
                                               (blur)="orgSetService.EditReason(row); ReasonEdit[row.$$index + '-text'] = false"
                                               type="text" [(ngModel)]="row.text"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Изменение балла">
                                    <ng-template ngx-datatable-header-template>
                                        Изменение балла
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span (dblclick)="ReasonEdit[row.$$index + '-change'] = true"
                                              *ngIf="!ReasonEdit[row.$$index + '-change']">{{row.change}}</span>
                                        <input autofocus *ngIf="ReasonEdit[row.$$index + '-change']"
                                               (blur)="orgSetService.EditReason(row); ReasonEdit[row.$$index + '-change'] = false"
                                               type="number" [(ngModel)]="row.change"/>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template></ng-template>
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent'
                                                (click)="orgSetService.DeleteReason(row.id)">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                        <div class="mdl-card__menu">
                            <button class="mdl-button mdl-js-button mdl-button--primary mdl-button--icon mdl-js-ripple-effect on_edit-activation"
                                    (click)="orgSetService.AddReason_Active = true">
                                <i class="material-icons">add</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Achievements -->
        <section class="mdl-layout__tab-panel" id="orgset_achievements">
        </section>
        <!-- Actions -->
        <section class="mdl-layout__tab-panel" id="orgset_actions">
            <div class="page-content mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <div class="mdl-card mdl-shadow--6dp width100">
                        <div class="mdl-card__title mdl-card--border">
                            <div class="mdl-card__title-text" style="text-transform: none">
                                Изменения баллов
                            </div>
                        </div>
                        <div class="mdl-card__title card-nopad">
                            <ngx-datatable
                                    class="material width100"
                                    [rows]="orgSetService.MarksChanges"
                                    [loadingIndicator]="loadingIndicator"
                                    [columnMode]="'force'"
                                    [headerHeight]="50"
                                    [footerHeight]="50"
                                    [rowHeight]="'auto'"
                                    [scrollbarH]="true"
                                    [limit]="10"
                                    [sorts]="[{prop: 'time', dir: 'desc'}]"
                                    [messages]="{emptyMessage: 'Событий нет', totalMessage: 'всего'}">
                                <ngx-datatable-column name="Сотрудник">
                                    <ng-template ngx-datatable-header-template>
                                        Сотрудник
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a [routerLink]="['/profile', row.employee_login]" style="text-transform: capitalize">{{orgSetService.GetEmployeeFullNameByLogin(row.employee_login)}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [name]="this.orgSetService.OrgSettings.participant.value">
                                    <ng-template ngx-datatable-header-template>
                                        <span style="text-transform: capitalize">{{this.orgSetService.OrgSettings.participant}}</span>
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a [routerLink]="['/profile', row.participant_login]" style="text-transform: capitalize">{{orgSetService.GetParticipantFullNameByLogin(row.participant_login)}}</a>
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Причина изменения">
                                    <ng-template ngx-datatable-header-template>
                                        Причина изменения
                                    </ng-template>
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        {{row.text}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column name="Дата" prop="time">
                                    <ng-template ngx-datatable-header-template let-sort="sortFn">
                                        <span (click)="sort()">Дата</span>
                                    </ng-template>
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        {{value | date}}
                                    </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column>
                                    <ng-template ngx-datatable-header-template></ng-template>
                                    <ng-template ngx-datatable-cell-template let-row="row">
                                        <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent'
                                                (click)="orgSetService.DeleteMarkChange(row.id)">
                                            <i class="material-icons">delete_forever</i>
                                        </button>
                                    </ng-template>
                                </ngx-datatable-column>
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Help -->
        <section class="mdl-layout__tab-panel" id="orgset_help">
        </section>
    </main>
</div>