$MainColor: #fff;
$SecondaryColor: #1692ff;
$AccentColor: #b2b2b2;
/* Text colors */
$MainTextColor: #1692ff;
$SecondaryTextColor: #b2b2b2;
$HoverTextColor: #1692ff;
$WarnTextColor: #c20c0c;
/* Places Colors */
$FirstPlace: #fbba0f;
$SecondPlace: #c1c0c3;
$ThirdPlace: #d3634b;