@import "colors";

header.fc-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  color: $SecondaryColor;

  .fc-header__brand {

    .fc-header__brand-text {
      font-size: 48px;

      @media (max-width: 479px) { font-size: 36px; }

    }

  }

  .fc-header__action {

    .fc-header__action-button {
      color: $SecondaryColor;
      font-size: 28px;
      text-transform: capitalize;
      text-decoration: none;

      @media (max-width: 479px) { font-size: 16px; }

    }

    .fc-header__action-button::after {
      content: ' ';
      display: block;
      width: 0;
      height: 2px;
      background: $SecondaryColor;
      transition: width 0.2s ease-in-out;
    }

    .fc-header__action-button:hover { cursor: pointer }

    .fc-header__action-button:hover::after { width: 100% }

  }

}