@import "colors";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic');

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;

  .mdl-layout__drawer-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}