@import "colors";
@import "mixins";

.fc-profile {
  position: fixed;
  padding: 20px 0;
  top: 20%;
  left: -353px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  height: 500px;
  width: 350px;
  background: $MainColor;
  @include box-shadow(0, 2px, 10px, 0, rgba(0, 0, 0, 0.7));

  .fc-profile__header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .fc-profile__header-avatar {
      margin-left: 10px;
      height: 120px;
      @include border-radius(100px);
    }

    .fc-profile__header-avatar--first  { border: 2px solid $FirstPlace; }
    .fc-profile__header-avatar--second { border: 2px solid $SecondPlace; }
    .fc-profile__header-avatar--third  { border: 2px solid $ThirdPlace; }

    .fc-profile__header-fullname {
      margin-right: 10px;
      color: $MainTextColor;
      text-transform: capitalize;
      font-size: 28px;
      font-weight: 700;
    }

    .fc-profile__header-fullname:after {
      content: attr(team);
      display: block;
      color: $SecondaryTextColor;
      font-size: 12px;
      font-weight: 400;
      text-align: right;
    }

  }

  .fc-profile__rating {
    margin: 0 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .fc-profile__rating-information {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .fc-profile__rating-value {
        color: $MainTextColor;
        font-size: 32px;
        font-weight: 700;
      }

      .fc-profile__rating-position {
        color: $SecondaryTextColor;
        font-size: 20px;
        font-weight: 700;
      }

    }

    .fc-profile__rating-filter {
      margin-top: 3px;
      font-size: 11px;

      span:first-child { color: $MainTextColor; }
      span:last-child  { color: $SecondaryTextColor; }

      .fc-profile__rating-filter-selector {
        font-size: 11px;
        border: none;
        outline: none;
      }

    }

    .fc-profile__rating-nearest {
      margin-top: -8px;

      span:first-child {
        color: $MainTextColor;
        font-size: 20px;
        font-weight: 700;
      }

      span:last-child {
        color: $SecondaryTextColor;
        font-size: 13px;
      }

    }

  }

  .fc-profile__achievements {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .fc-profile__achievements-header {
      color: $MainTextColor;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
    }

    .fc-profile__achievements-header:after {
      content: ' ';
      display: block;
      margin-top: 2px;
      height: 1px;
      width: 100%;
      background: $AccentColor;
    }


    .fc-profile__achievements-list {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      div {
        @include border-radius(100px);
        background: black;
        height: 50px;
        width: 50px;
      }

      span {
        order: 1;
        color: $SecondaryTextColor;
        font-size: 13px;
        font-style: italic;
      }

    }

  }

  .fc-profile__actions {
    margin: 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .fc-profile__actions-header {
      color: $MainTextColor;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
    }

    .fc-profile__actions-header:after {
      content: ' ';
      display: block;
      margin-top: 2px;
      height: 1px;
      width: 100%;
      background: $AccentColor;
    }

    .fc-profile__actions-row {
      margin: 5px 10px 0 10px;
      display: flex;
      justify-content: center;
      align-items: baseline;

      .fc-profile__actions-row-value {
        margin-right: 5px;
        flex-basis: 25%;
        font-size: 25px;
        font-weight: 700;
        text-align: right;
      }

      .fc-profile__actions-row-value--positive { color: $MainTextColor; }
      .fc-profile__actions-row-value--positive:before { content: "+"; }
      .fc-profile__actions-row-value--negative { color: $WarnTextColor; }
      .fc-profile__actions-row-value--negative:before { content: "-"; }

      .fc-profile__actions-row-reason {
        flex-basis: 75%;
        color: $SecondaryTextColor;
        font-size: 13px;

        .fc-profile__actions-row-date {
          display: block;
          font-size: 10px;
          text-align: right;
        }

        .fc-profile__actions-row-date:before {
          content: ' ';
          display: block;
          margin: 2px 0;
          width: 100%;
          height: 1px;
          background: $AccentColor + 20;
        }

      }

    }

  }

}