@import "main";
@import "header";
@import "profile";

@include header(#fff, #1692ff, #b2b2b2, #1692ff, #1692ff);

.fc-content {
  margin-top: 50px;

  .fc-content__top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    .fc-content__top-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      color: $SecondaryTextColor;
      font-size: 24px;

      .fc-content__top-text {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-end;

        .fc-content__top-text-place {
          position: relative;
          padding-right: 20px;
          margin-right: 10px;
        }

        .fc-content__top-text-place:after {
          content: "-";
          display: block;
          position: absolute;
          bottom: 0;
          right: 0;
        }

        .fc-content__top-text-fullname { text-transform: capitalize; }

      }

      .fc-content__top-space { flex-basis: 5%; }
      .fc-content__top-value { flex-basis: 45%; }

    }

    .fc-content__top-border {
      margin: 20px auto;
      width: 30%;
      height: 2px;
      background: $SecondaryTextColor;
    }

    .fc-content__top-row--first {
      color: $FirstPlace;
      font-size: 48px;
      font-weight: 800;
    }

    .fc-content__top-row--second {
      color: $SecondPlace;
      font-size: 36px;
      font-weight: 700;
    }

    .fc-content__top-row--third {
      color: $ThirdPlace;
      font-size: 32px;
      font-weight: 600;
    }

  }
}