@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=cyrillic");
* {
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0; }
  body .mdl-layout__drawer-button {
    display: flex;
    justify-content: center;
    align-items: center; }

body .mdl-layout-title {
  text-transform: capitalize;
  outline: none; }
body .mdl-card {
  width: 100%;
  min-height: 125px; }
  body .mdl-card .mdl-card__body {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch; }
    body .mdl-card .mdl-card__body .mdl-card__body-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-icon {
        margin-right: 10px; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-text--editing {
        margin-top: 4px;
        outline: none; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-text--editing:after {
        content: ' ';
        display: block;
        margin-top: 2px;
        height: 2px;
        width: 100%;
        background: #3f51b5; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-text--capitalize {
        text-transform: capitalize; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-text--uppercase {
        text-transform: uppercase; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-toggle .mdl-switch__track {
        margin-top: 1px; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-toggle .mdl-switch__thumb {
        margin-top: 1px; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-toggle .mdl-switch__ripple-container {
        margin-top: 1px; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-toggle--16px .mdl-switch__label {
        font-size: 16px; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-toggle--24px .mdl-switch__label {
        font-size: 24px; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-toggle--32px .mdl-switch__label {
        font-size: 32px; }
      body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-actions {
        margin-left: auto;
        margin-right: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-actions button[display=block]:not(:last-child) {
          margin-right: 5px; }
        body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-actions .mdl-card__body-row-button--off {
          display: none; }
        body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-actions .mdl-card__body-row-button--accept {
          color: #57BF57; }
        body .mdl-card .mdl-card__body .mdl-card__body-row .mdl-card__body-row-actions .mdl-card__body-row-button--decline {
          color: #E1715B; }
    body .mdl-card .mdl-card__body .mdl-card__body-row--16px {
      font-size: 16px; }
    body .mdl-card .mdl-card__body .mdl-card__body-row--24px {
      font-size: 24px; }
    body .mdl-card .mdl-card__body .mdl-card__body-row--32px {
      font-size: 32px; }

/*# sourceMappingURL=general.css.map */
