@import 'main';

body {

  .page-content {

    .mdl-cell {

      .mdl-card {

        .mdl-card__body {

          .dataTables_wrapper {

            .mdl-grid:first-child  { display: none; }
            .mdl-grid:last-child   { display: none; }

            .dt-table {
              padding: 0;

              .mdl-cell {
                padding-bottom: 0;
                margin: 0;
                width: 100%;

                table {
                  width: 100%;
                  border: none;
                }

              }

            }

          }

        }

      }

    }

  }

}