@mixin border-radius($val) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}

@mixin box-shadow-inset($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: inset $x $y $blur $spread $color;
  -moz-box-shadow: inset $x $y $blur $spread $color;
  box-shadow: inset $x $y $blur $spread $color;
}

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow:  $x $y $blur $spread $color;
  -moz-box-shadow:  $x $y $blur $spread $color;
  box-shadow:  $x $y $blur $spread $color;
}