{{define "index"}}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="yandex-verification" content="7a2c6ae41eb90688" />
    <meta name="google-site-verification" content="VIYNx_NWqu5Lt0HTTPz-VKI-og0VpyuqmRIpXwgCDrg" />
    <title>WPlay (v0.4.6 alpha)</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css">
    <link rel="stylesheet" href="css/libs/jquery.fullpage.min.css">
    <link rel="stylesheet" href="css/libs/materialPreloader.min.css">
    <noscript><div><img src="https://mc.yandex.ru/watch/45602721" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<div class="fc-content" id="fullpage">
    <div class="fc-auth">
        <div class="fc-auth__overlay"></div>
        <div class="fc-auth__form">
            <div class="fc-auth__form-group">
                <input type="text" class="fc-auth__form-field" id="login" placeholder="ЛОГИН">
                <label class="fc-auth__form-label" for="login" data-content="логин">логин</label>
            </div>
            <div class="fc-auth__form-group">
                <input type="password" class="fc-auth__form-field" id="password" placeholder="ПАРОЛЬ">
                <label class="fc-auth__form-label" for="password" data-content="пароль">пароль</label>
            </div>
            <button class="fc-auth__form-submit" id="submit">вход</button>
        </div>
    </div>
    <div class="fc-content__top fc-content__section">
        <header class="fc-header">
            <div class="fc-header__brand">
                <span class="fc-header__brand-text">NullTeam</span>
            </div>
            <div class="fc-header__action">
                {{if not .LoggedIn}}<span class="fc-header__action-button" id="fc-header__action-button--auth">войти</span>{{end}}
                {{if .LoggedIn}}<a class="fc-header__action-button" href="https://demo.wplay.nullteam.info/profile">портал</a>{{end}}
            </div>
        </header>
        <div class="fc-content__logo">
            <img src="images/logo.svg" alt="Wplay">
            <span class="fc-content__logo-text">Wplay</span>
        </div>
        <div class="fc-content__teaser">
            <span class="fc-content__teaser-text">
                Система для геймификации любого процесса, начиная образованием и заканчивая бизнесом
            </span>
            <button class="fc-content__teaser-button">
                начать сейчас!
            </button>
        </div>
    </div>
    <div class="fc-content__section"></div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="scripts/libs/jquery.fullpage.min.js"></script>
<script type="text/javascript" src="scripts/libs/materialPreloader.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script type="text/javascript" src="scripts/metrica.js"></script>
<script type="text/javascript" src="scripts/links.js"></script>
<script type="text/javascript" src="scripts/index.js"></script>
</body>
</html>
{{end}}
