{{define "profile"}}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ForCamp</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/node-waves/0.7.5/waves.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.15/css/dataTables.material.min.css">
    <link rel="stylesheet" href="css/libs/font-awesome.min.css">
    <link rel="stylesheet" href="css/libs/material.min.css">
    <link rel="stylesheet" href="css/orgset.css">
</head>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{.OrgSettings.Organization}}</span>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">профиль</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link wave-effect" href="https://forcamp.ga">главная</a>
            <a class="mdl-navigation__link wave-effect" href="https://forcamp.ga/profile">профиль</a>
            {{if .IsAdmin}}<a class="mdl-navigation__link wave-effect" href="https://forcamp.ga/orgset">управление</a>{{end}}
            {{if .IsEmployee}}<a class="mdl-navigation__link wave-effect" href="https://forcamp.ga/marks">баллы</a>{{end}}
            <a class="mdl-navigation__link wave-effect" href="https://forcamp.ga/general">статистика</a>
            <a class="mdl-navigation__link wave-effect" href="https://forcamp.ga/team">{{.OrgSettings.Team}}</a>
            <a class="mdl-navigation__link wave-effect" href="https://forcamp.ga/achievements">достижения</a>
            <a class="mdl-navigation__link wave-effect" href="https://forcamp.ga/exit">выйти</a>
        </nav>
    </div>
    <main class="mdl-layout__content">

    </main>
</div>
</html>
{{end}}