<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{orgSetService.OrgSettings.organization}}</span></div>
        <div [attr.aria-busy]="marksService.Preloader" role="progressbar"></div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Баллы</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" routerLink="/main">главная</a>
            <a class="mdl-navigation__link" routerLink="/profile">профиль</a>
            <a *ngIf="userService.SelfData.Access == 2" class="mdl-navigation__link"
               routerLink="/orgset">управление</a>
            <a class="mdl-navigation__link" routerlink="/general">общая статистика</a>
            <a class="mdl-navigation__link" routerLink="/team">{{orgSetService.OrgSettings.team}}</a>
            <a class="mdl-navigation__link" routerLink="/achievements">достижения</a>
            <a class="mdl-navigation__link" href="exit">выйти</a>
        </nav>
    </div>
    <edit_mark [login]="Login_Edit" [categoryID]="CategoryID_Edit"></edit_mark>
    <main class="mdl-layout__content">
        <div class="page-content mdl-grid" id="marks">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-card mdl-shadow--6dp width100">
                    <div class="mdl-card__title mdl-card--border">
                        <div class="mdl-card__title-text" style="text-transform: none">
                            Баллы
                        </div>
                    </div>
                    <div class="mdl-card__title card-nopad">
                        <ngx-datatable
                                class="material width100"
                                [rows]="orgSetService.Participants"
                                [loadingIndicator]="loadingIndicator"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [messages]="{emptyMessage: 'Участников нет', totalMessage: 'всего'}">
                            <ngx-datatable-column name="ФИО">
                                <ng-template ngx-datatable-header-template>
                                    ФИО
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a [routerLink]="['/profile', row.login]">{{row.surname}} {{row.name}} {{row.middlename}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [name]="orgSetService.OrgSettings.team">
                                <ng-template ngx-datatable-header-template style="text-transform: capitalize">
                                    <span style="text-transform: capitalize">{{orgSetService.OrgSettings.team}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span>{{orgSetService.IdToTeamName(row.team)}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngFor="let category of orgSetService.Categories"
                                                  [name]="category.name">
                                <ng-template ngx-datatable-header-template>
                                    <span style="text-transform: capitalize">{{category.name}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div *ngFor="let mark of row.marks">
                                        <span *ngIf="mark.id == category.id" ngDefaultControl (click)="EditMark(row.login, category.id)">{{mark.value}}</span>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>