<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">{{orgSetService.OrgSettings.organization}}</span></div>
        <div [attr.aria-busy]="marksService.Preloader" role="progressbar"></div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Баллы</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" [routerLink]="['/profile', userService.SelfLogin]">профиль</a>
            <a *ngIf="userService.SelfData.Access == 2" class="mdl-navigation__link"
               routerLink="/orgset">управление</a>
            <a class="mdl-navigation__link" routerlink="/general">общая статистика</a>
            <a class="mdl-navigation__link" routerLink="/team">{{orgSetService.OrgSettings.team}}</a>
            <a class="mdl-navigation__link" routerLink="/achievements">достижения</a>
            <a class="mdl-navigation__link" href="exit">выйти</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content mdl-grid" id="marks">
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-card mdl-shadow--6dp width100">
                    <div class="mdl-card__title mdl-card--border">
                        <div class="mdl-card__title-text" style="text-transform: none">
                            Баллы
                        </div>
                        <div class="mdl-card__title-filter">
                            <md-select [(ngModel)]="MarksTable_FilterTeam"
                                       style="position: absolute; margin-top: -2px">
                                <md-option [value]="-1">все команды</md-option>
                                <md-option [value]="0">отсутствует</md-option>
                                <md-option *ngFor="let team of orgSetService.Teams" [value]="team.id">
                                    {{team.name}}
                                </md-option>
                            </md-select>
                        </div>
                    </div>
                    <div class="mdl-card__title card-nopad">
                        <ngx-datatable
                                class="material width100"
                                [rows]="orgSetService.GetParticipantsByTeamID(MarksTable_FilterTeam)"
                                [loadingIndicator]="loadingIndicator"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [limit]="10"
                                [messages]="{emptyMessage: 'Участников нет', totalMessage: 'всего'}">
                            <ngx-datatable-column name="ФИО">
                                <ng-template ngx-datatable-header-template>
                                     ФИО
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                        <a [routerLink]="['/profile', row.login]">{{row.surname}} {{row.name}} {{row.middlename}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column [name]="orgSetService.OrgSettings.team" prop="team">
                                <ng-template ngx-datatable-header-template style="text-transform: capitalize">
                                    <span style="text-transform: capitalize">{{orgSetService.OrgSettings.team}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template let-value="value">
                                        <span>{{orgSetService.IdToTeamName(value)}}</span>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column *ngFor="let category of orgSetService.Categories"
                                                  [name]="category.name">
                                <ng-template ngx-datatable-header-template>
                                    <span style="text-transform: capitalize">{{category.name}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <div *ngFor="let mark of orgSetService.GetMarkByCategoryID(category.id, row.marks)">
                                        <span *ngIf="!MarkEdit[row.$$index + '-mark-' + category.id]" (click)="EditMark(row.login, category.id, row.$$index); reasonID = 0">{{mark.value}}</span>
                                        <md-select *ngIf="MarkEdit[row.$$index + '-mark-' + category.id]"
                                                   (change)="marksService.EditParticipantMark(row, category.id, reasonID); MarkEdit[row.$$index + '-mark-' + category.id] = false"
                                                   [(ngModel)]="reasonID"
                                                   style="position: absolute; margin-top: -2px"
                                                   placeholder="Выберите причину">
                                            <md-option *ngFor="let reason of orgSetService.GetReasonsByCatID(mark.id)" [value]="reason.id">
                                                {{reason.text}}
                                            </md-option>
                                        </md-select>
                                    </div>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--12-col">
                <div class="mdl-card mdl-shadow--6dp width100">
                    <div class="mdl-card__title mdl-card--border">
                        <div class="mdl-card__title-text" style="text-transform: none">
                            Ваши последние изменения
                        </div>
                    </div>
                    <div class="mdl-card__title card-nopad">
                        <ngx-datatable
                                class="material width100"
                                [rows]="orgSetService.GetMarksChangesByEmployeeLogin(userService.SelfLogin)"
                                [loadingIndicator]="loadingIndicator"
                                [columnMode]="'force'"
                                [headerHeight]="50"
                                [footerHeight]="50"
                                [rowHeight]="'auto'"
                                [scrollbarH]="true"
                                [limit]="10"
                                [sorts]="[{prop: 'time', dir: 'desc'}]"
                                [messages]="{emptyMessage: 'Событий нет', totalMessage: 'всего'}">
                            <ngx-datatable-column [name]="this.orgSetService.OrgSettings.participant.value">
                                <ng-template ngx-datatable-header-template>
                                    <span style="text-transform: capitalize">{{this.orgSetService.OrgSettings.participant}}</span>
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    <a [routerLink]="['/profile', row.participant_login]" style="text-transform: capitalize">{{orgSetService.GetParticipantFullNameByLogin(row.participant_login)}}</a>
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Причина изменения">
                                <ng-template ngx-datatable-header-template>
                                    Причина изменения
                                </ng-template>
                                <ng-template let-row="row" ngx-datatable-cell-template>
                                    {{row.text}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column name="Дата" prop="time">
                                <ng-template ngx-datatable-header-template let-sort="sortFn">
                                    <span (click)="sort()">Дата</span>
                                </ng-template>
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                    {{value | date}}
                                </ng-template>
                            </ngx-datatable-column>
                            <ngx-datatable-column>
                                <ng-template ngx-datatable-header-template></ng-template>
                                <ng-template ngx-datatable-cell-template let-row="row">
                                    <button class='mdl-button mdl-js-button mdl-button--icon mdl-button--colored mdl-button--accent'
                                            (click)="orgSetService.DeleteMarkChange(row.id)">
                                        <i class="material-icons">delete_forever</i>
                                    </button>
                                </ng-template>
                            </ngx-datatable-column>
                        </ngx-datatable>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>