<div mdl class="container">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">{{orgSetService.OrgSettings.organization}}</span>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">главная</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" [routerLink]="['/profile', userService.SelfLogin]">профиль</a>
                <a *ngIf="userService.SelfData.Access == 2" class="mdl-navigation__link"
                   routerLink="/orgset">управление</a>
                <a *ngIf="userService.SelfData.Access > 0" class="mdl-navigation__link" routerLink="/marks">баллы</a>
                <a class="mdl-navigation__link" routerLink="/general">общая статистика</a>
                <a class="mdl-navigation__link" routerLink="/team">{{orgSetService.OrgSettings.team}}</a>
                <a class="mdl-navigation__link" routerLink="/achievements">достижения</a>
                <a class="mdl-navigation__link" href="exit.php">выйти</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content"><!-- Your content goes here --></div>
        </main>
    </div>
</div>