$MainColor: #3F51B5;
$AccentColor: #FF4081;
$SuccessColor: #1BD964;
$WarnColor: #FF772B;
$OtherColor: #8649BA;
$TextColor_Main: #000;
$TextColor_Accent: #FFFFFF;
$TextColor_Main_Hover: #014c8c;

.container{
  width: 100%;
  padding: 0;
  min-height: 50vw;

  #button-open_sidebar{
    background: none;
    border: none;
    outline: none;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 2px;
  }

  md-toolbar{
    font-size: 24px;
  }

  #toolbar-organization{
    text-transform: capitalize;
    color: $TextColor_Accent;
    padding: 0 40px;
  }

  md-sidenav-container{
    min-height: 50vw;

    md-sidenav{

      md-list{

        #sidenav__header{
          padding: 0 20px 20px 20px;

          #sidenav__header-text{
            font-size: 24px;
          }

        }

        #sidenav__header:hover{
          background-color: #FFFFFF;
        }

        md-list-item{
          padding: 0 20px;
          text-transform: capitalize;
          text-decoration: none;
          outline: none;
          color: $MainColor;
        }

        md-list-item:hover{
          cursor: pointer;
          background-color: #e0e0e0;
        }

      }

    }

  }

}
