<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header" id="sign_in__header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title"></span>
            <a class="mdl-layout__header-title" href="https://forcamp.ga" id="logo">
                <img src="media/svg/logo.svg" height="36" id="logo_svg">
                ForCamp
            </a>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title"></span>
        <nav class="mdl-navigation">
            <a style="cursor: pointer" *ngIf="Token == undefined" class="mdl-navigation__link" (click)="FormActive = true">Войти</a>
            <a style="cursor: pointer" *ngIf="Token !== undefined && checkTokenService.AdminStatus == false" class="mdl-navigation__link" routerLink="general">Портал</a>
            <a style="cursor: pointer" *ngIf="checkTokenService.AdminStatus == true" class="mdl-navigation__link" routerLink="apanel">Адм. панель</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div id="content-top" class="mdl-grid mdl-cell--middle">
            <div id="content-top__text" class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--7-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
                <div id="content-top__text--head">
                    <span>ForCamp</span>
                </div>
                <div id="content-top__text--subhead">
                    <span>Система геймификации</span>
                </div>
                <div id="content-top__text--main">
                    <span>ForCamp - это система для геймификации любого процесса, <br/> начиная образованием и заканчивая бизнесом, <br/>с удобным сбором статистики и гибкой настройкой.</span>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
        </div>
    </main>
</div>
<div class="on_edit mdl-grid" *ngIf="FormActive">
    <div class="on_edit-click" (click)="FormActive = false"></div>
    <div class="mdl-grid mdl-cell mdl-cell-middle mdl-cell--12-col">
        <div class="mdl-cell mdl-cell--middle mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--4-col-desktop mdl-cell--4-offset-desktop">
            <div class="mdl-card mdl-shadow--6dp on_edit-card">
                <div class="mdl-card__title mdl-card--border">
                    <div class="mdl-card__title-text" style="text-transform: none">Авторизация</div>
                </div>
                <div class="mdl-card__title nopad">
                    <div class="card_field">
                        <md-input-container class="width100">
                            <input mdInput type="text" name="login" [(ngModel)]="Login" id="login"
                                   placeholder="Логин"/>
                        </md-input-container>
                    </div>
                </div>
                <div class="mdl-card__title nopad">
                    <div class="card_field">
                        <md-input-container class="width100">
                            <input mdInput type="password" name="password" [(ngModel)]="Password" id="password"
                                   placeholder="Пароль"/>
                        </md-input-container>
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <button class="mdl-button mdl-button--colored mdl-button--primary mdl-js-button mdl-js-ripple-effect on_edit-card-confirm"
                            (click)="SubmitSignInForm()">
                        войти
                    </button>
                    <button class="mdl-button mdl-button--colored mdl-button--accent mdl-js-button mdl-js-ripple-effect on_edit-card-cancel"
                            (click)="FormActive = false; Login = ''; Password = ''">
                        отмена
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>