$primary: #3498db;
$primaryLight: #fff;
$primaryDark: #2980b9;

$secondary: #fff;
$secondaryLight: #fff;
$secondaryDark: #fff;

$neutralDarker: #7f8c8d;
$neutralDark: #bdc3c7;
$neutral: #fff;
$neutralLight: #fff;
$neutralLighter: #e5e8ed;
$neutralLightest: #f4f7fc;
